@model Telerik.Sitefinity.Frontend.SocialShare.Mvc.Models.SocialShareModel
@using Telerik.Sitefinity.Frontend.SocialShare.SocialShareHelpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{
    var shareUrl = SocialShareButtons.ShareUrl;
    var pageTitle = SocialShareButtons.PageTitle;
}

<div class="@Model.CssClass">
    <ul class="soc_share">
        @foreach (var button in Model.SocialButtons)
        {
            switch (button.ButtonName)
            {
                case "Facebook":
                    <li>
                        <a class="button facebook" href="https://www.facebook.com/sharer/sharer.php?u=@shareUrl" title="Share on Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i> <span class="show-for-sr">Share on Facebook</span>
                        </a>
                    </li>
                    break;
                case "Twitter":
                <li>
                    <a class="button twitter" href="http://twitter.com/share?url=@shareUrl" data-reveal-id="myModal" data-reveal-ajax="true">
                        <i class="fa fa-twitter" aria-hidden="true"></i> <span class="show-for-sr">Share on Twitter</span>
                    </a>
                </li>
                    break;
                case "LinkedIn":
                <li>
                    <a class="button linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=@shareUrl&amp;title=@pageTitle" title="Share on LinkedIn">
                        <i class="fa fa-linkedin" aria-hidden="true"></i> <span class="show-for-sr">Share on LinkedIn</span>
                    </a>
                </li>
                    break;
                case "GooglePlusOne":
                <li>
                    <a class="button googleplus" href="https://plus.google.com/share?url=@shareUrl" title="Share on Google+">
                        <i class="fa fa-google-plus" aria-hidden="true"></i> <span class="show-for-sr">Share on Google+</span>
                    </a>
                </li>
                    break;
                case "Blogger":
                <li>
                    <a class="button blogger" href="https://www.blogger.com/blogger.g?t&u=@shareUrl&n=@pageTitle" title="Share on Blogger">
                        <i class="fa fa-rss" aria-hidden="true"></i> <span class="show-for-sr">Share on Blogger</span>
                    </a>
                </li>
                    break;
                case "Delicious":
                <li>
                    <a class="button delicious" href="https://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)" title="Sahre on Delicious">
                        <i class="fa fa-delicious" aria-hidden="true"></i> <span class="show-for-sr">Share on Delicious</span>
                    </a>
                </li>
                    break;
                case "Tumblr":
                <li>
                    <a class="button tumblr" href="http://tumblr.com/share/link?url=@shareUrl&name=@pageTitle"  title="Share on Tumblr">
                        <i class="fa fa-tumblr" aria-hidden="true"></i> <span class="show-for-sr">Share on Tumblr</span>
                    </a>
                </li>
                    break;
                case "GoogleBookmarks":
                <li>
                    <a class="button google" href="https://www.google.com/bookmarks/mark?op=add&bkmk=@shareUrl&title=@pageTitle" title="Share on GoogleBookmarks">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> <span class="show-for-sr">Google Bookmarks</span>
                    </a>
                </li>
                    break;
                case "Digg":
                <li>
                    <a class="button digg" href="http://digg.com/submit?url=@shareUrl&title=@pageTitle" title="Share on Digg">
                        <i class="fa fa-digg" aria-hidden="true"></i> <span class="show-for-sr">Share on Digg</span>
                    </a>
                </li>
                    break;
                case "MySpace":
                <li>
                    <a class="button myspace" href="http://myspace.com/Modules/PostTo/Pages/?u=@shareUrl&t=@pageTitle" title="Share on MySpace">
                        <i class="fa fa-users" aria-hidden="true"></i> <span class="show-for-sr">Share on MySpace</span>
                    </a>
                </li>
                    break;
                case "StumbleUpon":
                <li>
                    <a class="button stumbleupon" href="http://stumbleupon.com/submit?url=@shareUrl&title=@pageTitle" title="Share on StumbleUpon">
                        <i class="fa fa-stumbleupon" aria-hidden="true"></i> <span class="show-for-sr">Share on StumbleUpon</span>
                    </a>
                </li>
                    break;
                case "Reddit":
                <li>
                    <a class="button reddit" href="http://www.reddit.com/submit?newwindow=1&url=@shareUrl&title=@pageTitle" title="Share on Reddit">
                        <i class="fa fa-reddit-alien" aria-hidden="true"></i> <span class="show-for-sr">Share on Reddit</span>
                    </a>
                </li>
                    break;
                case "MailTo":
                <li>
                    <a class="button" href="mailto:?body=@shareUrl&subject=@pageTitle" title="Send via email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="show-for-sr">Share on Email</span>
                    </a>
                </li>
                    break;
                default:
                    break;
            }
        }
        <li>
            <a class="button secondary" href="javascript:window.print()">
                <i class="fa fa-print" aria-hidden="true"></i> <span class="show-for-sr">Print</span>
            </a>
        </li>
    </ul>
</div>
