<div class="top-bar" data-sf-element="Row">
    <div class="top-bar-title">
        <div><button class="menu-icon dark hide-for-large" type="button" data-toggle="offCanvasLeft"><span class="show-for-sr">Open Menu</span></button></div>
        <div class="sf_colsIn" data-sf-element="Top Bar Title" data-placeholder-label="Top Bar Title"></div>
    </div>
    <div class="sf_colsIn top-bar-left" data-sf-element="Top Bar Left" data-placeholder-label="Top Bar Left">
    </div>
    <div class="sf_colsIn top-bar-right" data-sf-element="Top Bar Right" data-placeholder-label="Top Bar Right">
    </div>
</div>